.container {
  display: flex;
  flex-direction: column;
  background-color: #09518d;
}
.subtitle {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px;
  text-align: center;

  font-size: 24px;
  font-weight: 700;
}
.contact_form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
}
.button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.button :hover {
  background-color: #f44336;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
