.contactBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.name {
  font-weight: 700;
  color: #646cff;
}
.btn {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
}
.btn :hover {
  background-color: #f44336;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.number {
  color: #252bad;
  font-style: italic;
}
.icon {
  text-align: center;
  font-size: 30px;
  margin-right: 10px;
  height: 30px;
}
.list_btn {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}
