/* styles.css */

.container {
  display: flex;
  background-color: #09518d;
}

.img_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_container {
  flex: 2;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.header {
  color: white;
  padding: 20px;
}
.text {
  font-size: 20px;
  text-align: justify;
}
.text p {
  text-indent: 20px;
}
.header span {
  color: #ff5722;
  margin: 0 3px;
}
